// !$*UTF8*$!
{
  archiveVersion = 1;
  objectVersion = 56;
  objects = {
    P1 /* CrosswakeProofLane */ = { isa = PBXNativeTarget; name = CrosswakeProofLane; productType = "com.apple.product-type.tool"; };
    P2 /* CrosswakeProofLaneTests */ = { isa = PBXNativeTarget; name = CrosswakeProofLaneTests; productType = "com.apple.product-type.bundle.unit-test"; };
    P3 /* CrosswakeProofLaneUITests */ = { isa = PBXNativeTarget; name = CrosswakeProofLaneUITests; productType = "com.apple.product-type.bundle.ui-testing"; };
  };
}
