// !$*UTF8*$!
{
	archiveVersion = 1;
	classes = {};
	objectVersion = 56;
	objects = {

/* Begin PBXFileReference section */
		A10000000000000000000001 /* CrosswakeProofLane */ = {isa = PBXFileReference; explicitFileType = "compiled.mach-o.executable"; path = CrosswakeProofLane; sourceTree = BUILT_PRODUCTS_DIR; };
		A10000000000000000000002 /* CrosswakeProofLaneTests.xctest */ = {isa = PBXFileReference; explicitFileType = wrapper.cfbundle; path = CrosswakeProofLaneTests.xctest; sourceTree = BUILT_PRODUCTS_DIR; };
		A10000000000000000000003 /* CrosswakeProofLaneUITests.xctest */ = {isa = PBXFileReference; explicitFileType = wrapper.cfbundle; path = CrosswakeProofLaneUITests.xctest; sourceTree = BUILT_PRODUCTS_DIR; };
/* End PBXFileReference section */

/* Begin PBXFrameworksBuildPhase section */
		A10000000000000000000010 /* Frameworks */ = {isa = PBXFrameworksBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
		A10000000000000000000011 /* Frameworks */ = {isa = PBXFrameworksBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
		A10000000000000000000012 /* Frameworks */ = {isa = PBXFrameworksBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
/* End PBXFrameworksBuildPhase section */

/* Begin PBXGroup section */
		A10000000000000000000020 = {isa = PBXGroup; children = (A10000000000000000000021 /* Products */,); sourceTree = "<group>"; };
		A10000000000000000000021 /* Products */ = {isa = PBXGroup; children = (A10000000000000000000001 /* CrosswakeProofLane */, A10000000000000000000002 /* CrosswakeProofLaneTests.xctest */, A10000000000000000000003 /* CrosswakeProofLaneUITests.xctest */,); name = Products; sourceTree = "<group>"; };
/* End PBXGroup section */

/* Begin PBXNativeTarget section */
		A10000000000000000000030 /* CrosswakeProofLane */ = {isa = PBXNativeTarget; buildConfigurationList = A10000000000000000000040 /* Build configuration list for PBXNativeTarget "CrosswakeProofLane" */; buildPhases = (A10000000000000000000050 /* Sources */, A10000000000000000000010 /* Frameworks */,); buildRules = (); dependencies = (); name = CrosswakeProofLane; productName = CrosswakeProofLane; productReference = A10000000000000000000001 /* CrosswakeProofLane */; productType = "com.apple.product-type.tool"; };
		A10000000000000000000031 /* CrosswakeProofLaneTests */ = {isa = PBXNativeTarget; buildConfigurationList = A10000000000000000000041 /* Build configuration list for PBXNativeTarget "CrosswakeProofLaneTests" */; buildPhases = (A10000000000000000000051 /* Sources */, A10000000000000000000011 /* Frameworks */,); buildRules = (); dependencies = (); name = CrosswakeProofLaneTests; productName = CrosswakeProofLaneTests; productReference = A10000000000000000000002 /* CrosswakeProofLaneTests.xctest */; productType = "com.apple.product-type.bundle.unit-test"; };
		A10000000000000000000032 /* CrosswakeProofLaneUITests */ = {isa = PBXNativeTarget; buildConfigurationList = A10000000000000000000042 /* Build configuration list for PBXNativeTarget "CrosswakeProofLaneUITests" */; buildPhases = (A10000000000000000000052 /* Sources */, A10000000000000000000012 /* Frameworks */,); buildRules = (); dependencies = (); name = CrosswakeProofLaneUITests; productName = CrosswakeProofLaneUITests; productReference = A10000000000000000000003 /* CrosswakeProofLaneUITests.xctest */; productType = "com.apple.product-type.bundle.ui-testing"; };
/* End PBXNativeTarget section */

/* Begin PBXProject section */
		A10000000000000000000060 /* Project object */ = {isa = PBXProject; attributes = {LastUpgradeCheck = 1600; TargetAttributes = {A10000000000000000000031 = {TestTargetID = A10000000000000000000030;}; A10000000000000000000032 = {TestTargetID = A10000000000000000000030;};};}; buildConfigurationList = A10000000000000000000043 /* Build configuration list for PBXProject "CrosswakeProofLane" */; compatibilityVersion = "Xcode 14.0"; developmentRegion = en; hasScannedForEncodings = 0; knownRegions = (en, Base,); mainGroup = A10000000000000000000020; productRefGroup = A10000000000000000000021 /* Products */; projectDirPath = ""; projectRoot = ""; targets = (A10000000000000000000030 /* CrosswakeProofLane */, A10000000000000000000031 /* CrosswakeProofLaneTests */, A10000000000000000000032 /* CrosswakeProofLaneUITests */,); };
/* End PBXProject section */

/* Begin PBXSourcesBuildPhase section */
		A10000000000000000000050 /* Sources */ = {isa = PBXSourcesBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
		A10000000000000000000051 /* Sources */ = {isa = PBXSourcesBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
		A10000000000000000000052 /* Sources */ = {isa = PBXSourcesBuildPhase; buildActionMask = 2147483647; files = (); runOnlyForDeploymentPostprocessing = 0; };
/* End PBXSourcesBuildPhase section */

/* Begin XCBuildConfiguration section */
		A10000000000000000000070 = {isa = XCBuildConfiguration; buildSettings = {}; name = Debug; };
		A10000000000000000000071 = {isa = XCBuildConfiguration; buildSettings = {}; name = Release; };
/* End XCBuildConfiguration section */

/* Begin XCConfigurationList section */
		A10000000000000000000040 = {isa = XCConfigurationList; buildConfigurations = (A10000000000000000000070, A10000000000000000000071,); defaultConfigurationIsVisible = 0; defaultConfigurationName = Release; };
		A10000000000000000000041 = {isa = XCConfigurationList; buildConfigurations = (A10000000000000000000070, A10000000000000000000071,); defaultConfigurationIsVisible = 0; defaultConfigurationName = Release; };
		A10000000000000000000042 = {isa = XCConfigurationList; buildConfigurations = (A10000000000000000000070, A10000000000000000000071,); defaultConfigurationIsVisible = 0; defaultConfigurationName = Release; };
		A10000000000000000000043 = {isa = XCConfigurationList; buildConfigurations = (A10000000000000000000070, A10000000000000000000071,); defaultConfigurationIsVisible = 0; defaultConfigurationName = Release; };
/* End XCConfigurationList section */
	};
	rootObject = A10000000000000000000060 /* Project object */;
}
